[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
[submodule ".zsh-completions/gcloud-zsh-completion"]
	path = .zsh-completions/gcloud-zsh-completion
	url = git@github.com:littleq0903/gcloud-zsh-completion.git
