[user]
	name = dan-j
	email = 5727701+dan-j@users.noreply.github.com
[core]
	autocrlf = input
[push]
	default = current
[rerere]
	enabled = true
	autoupdate = true
[alias]
    lg = log --decorate --pretty=oneline --abbrev-commit --no-merges --graph
    a = add --all .
    c = commit
    d = diff
    ds = diff --staged
    s = status
    ps = push
    pf = push -f
    pt = push --tags
    pl = pull
    pr = pull --rebase
    diff = diff --color
    add = add --all .
    squash = '!sh git reset $(git merge-base master $(git rev-parse --abbrev-ref HEAD))'
	grepall = "!f() { git grep $1 $(git rev-list --all); }; f"
[pull]
	rebase = true
[remote "origin"]
	fetch = +refs/pull/*:refs/remotes/origin/pull/*
[url "git@mygit.com:"]
	insteadof = https://mygit.com
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
